body{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}
.container{
    display: grid;
    max-width:900px;
    height: 415px;
    background-color:#F7F7F7;
    padding:40px 35px 60px 35px;
    grid-template-columns: minmax(550px, 700px) 270px;
    grid-column-gap: 17px;
}

.secao-principal{
    grid-column: 1 / 2; 
}

.secao-principal .thumb-destaque{
    width:100%;
}

.secao-principal .titulo-destaque{
    margin-top:12px;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 700;
}

.secao-principal .visualizacao-destaque{
    font-size: 14px;
}

.secao-principal .descricao-destaque{
    margin-top:10px;
    line-height: 20px;
    font-size: 16px;
}

.menu{
    grid-column: 2 / 3;
}

.menu .caixa-propaganda{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    background-color: #C4C4C4;
    margin-bottom: 20px;
}
.menu .lista-videos img{
    width:101px;
    height: 71px;
}

.menu .lista-videos li{
    display: flex;
    gap:4px;
    padding-bottom: 15px;
}

.menu .lista-videos .infos-videos a .titulo-outros-videos{
    font-size: 14px;
    margin-bottom: 2px;
}

.menu .lista-videos .infos-videos a .nome-autor,.visualizacao-outro-video,.tempo-publicacao{
    margin-top:5px;
}

    
